<p>
  <strong>Commenter:</strong>
  <%= comment_to_recommend.commenter %>
</p>
<p><pre>&#009;<strong>Score:</strong><%= comment_to_recommend.score %></pre></p>
<p><pre>&#009;<strong>Comment:</strong><%= comment_to_recommend.body %></pre></p>